:root {
    --mc-yellow: rgb(255, 199, 44);
    --white:rgb(245, 247, 250);
    --border-menu:rgb(245, 247, 250,.1);
    --menu-background: rgb(30, 30, 30,.5);
}

body {
    background-attachment: fixed;
    background-image: url('../images/background-mountain.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    width: 100%;
}

.btn-menu {
    background: none;
    border: none;
    color: var(--white);
    display: none;
    font-size: 1rem;
    transition: 2s;
}

@media screen and (max-width: 600px) {
    .btn-menu {
        display: block;
    }
}