body {
    background-attachment: fixed;
    background-image: url('../images/background-mountain.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Mulish', sans-serif;
    font-style: italic;
}

.btn-menu {
    background: none;
    border: none;
    color: #F5F7FA;
    display: none;
    font-size: 1rem;
    transition: 2s;
}

@media screen and (max-width: 600px) {
    .btn-menu {
        display: block;
    }
}