.professional-experience__image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 20%;
    height: 300px;
    margin: 0 auto;
    width: 50%;
}

.professional-experience__image--crypter {
    background-image: url('/images/crypter.png');
}