.description {
    /* background: var(--menu-background); */
    border-radius: 15px;
    color: var(--white);
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 10%;
    width: 90%;
}

@media screen and (min-width: 700px) {
    .description {
        margin-left: 10%;
        margin-top: 0;
    }
}