.header-menu-item {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
}

.header-menu-item:hover {
    color: #FFC72C;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .header-menu-item {
        margin: 0 1rem;
        padding: 1rem;  
    }
}