.academic-education__image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
    margin: 0 auto;
    max-width:200px;
    max-height:150px;
    width: 200px;
}

.academic-education__image--ftec {
    background-image: url('/images/ftec-logo1.png');
    /* filter: invert(111%) sepia(5%) saturate(1173%) hue-rotate(331deg) brightness(102%) contrast(102%); */
}

.academic-education__image--google {
    background-image: url('/images/google-logo.png');
}

.academic-education__image--alura {
    background-image: url('/images/alura-logo.png');
   background-size: contain;
    
}