.academic-education__item {
    background: var(--background-secundary);
    border-radius: 15px;
    display: block;
    justify-content: center;
    margin: 0 auto;
    margin: 1rem;
    min-width: 300px;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .academic-education__item {
        font-display: block;  
    }
}