.menu__item {
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
}

.menu__item:hover {
    color: var(--font-emphasis);
    font-size: 1.6rem;
}

@media screen and (max-width: 600px) {
    .menu__item {
        margin: 0 2px;  
    }
}