.menu__selection {
    align-items: center;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    right: 0;
    top: 10px;
}

@media screen and (max-width: 600px) {
    .menu__selection {
        background-color: var(--background-hamburguer);
        backdrop-filter: blur(2px);
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-right: none;
        color: var(--white);
        display: flex;
        height: 0px;
        position: absolute;
        top: 55px;
        margin: 0;
        overflow-y: hidden;
        right: 0;
        text-align: center;
        transition: .8s;
        visibility: hidden;
        width: 40%;
        z-index: 1000;
    }

    .menu__selection.active {
        display: block;
        height: calc(100vh - 55px);
        overflow-y: auto;
        visibility: visible;
    }

    .menu__selection::-webkit-scrollbar {
        display: none;
    }
}